/*body {
    background-color: #cccccc;
}*/

#canvas {
  background-color: #F5F5F5;
}

#test-obj {
  height: 100px;
  width: 100px;
  background-color: blue;
}

#test-container {
   height: 300px;
  width: 300px;
  color: gray;
}
