<div id="hero" class="col-xs-12 paddingTop-xl">
      <!-- <a class="logo-test" href="#"><img id="birdbrand" src="images/birdbrand.png" alt="layer 1"/></a> -->

    <div id="hero-title" class="col-xs-12 padding-xl">
      <h5 class="marginTop-xl animated bounceInDown">Monster Maps</h5>
      <h1 class="animated bounceInDown">Sketch and Track a Monster</h1>
    </div>

    <div class="bird">
      <img id="birdimg1" src="images/bird_2.png" alt="layer 1"/>
    </div>
    <div class="bird">
      <img id="birdimg2" src="images/bird_2.png" alt="layer 1"/>
    </div>

    <div id="layer1">
        <img id="layer1img" src="images/layer_1_3.png" alt="layer 1"/>
    </div>
    <div id="layer2">
        <img id="layer2img" src="images/layer_2_3.png" alt="layer 1"/>
    </div>

     <div id="layer3">
        <img id="layer3img" src="images/layer_3_3.png" alt="layer 1"/>
    </div>

    <div id="layer4">
        <img id="layer4img" src="images/layer_4_3.png" alt="layer 1"/>
    </div>

    <div id="layer5">
        <img id="layer5img" src="images/layer_5_3.png" alt="layer 1"/>
    </div>

    <div id="layer6">
        <img id="layer6img" src="images/layer_6_3.png" alt="layer 1"/>
    </div>

    <div id="layer7">
        <img id="layer7img" src="images/layer_7_sun_3.png" alt="layer 7"/>
    </div>
    <div id="layer8">
        <img id="layer8img" src="images/layer_8_3.png" alt="layer 1"/>
    </div>
    <div id="layer9">
        <img id="layer9img" src="images/layer_9_3.png" alt="layer 1"/>
    </div>

    <div id="marker">
        <img id="marker" class="marker" src="images/marker_3.png" alt="marker"/>
    </div>
    <div id="marker1">
        <img id="marker1" class="marker" src="images/marker_3.png" alt="marker"/>
    </div>
    <div id="marker2">
        <img id="marker2" class="marker" src="images/marker_3.png" alt="marker"/>
    </div>
    <br class="clear-fix">
  </div> <!--Hero ends here-->


  <br class="clear-fix">



  <!--Begin about section-->
  <div id= "about" class="col-xs-12 padding-xl">
    <div id="sketch" class="col-xs-12 col-xs-offset-1 col-sm-4 col-sm-offset-2 paddingTop-md paddingBottom-xl">
      <a id="sketch-button" class=" about-menu textPrimary-white" href="#/">
        <h5 id="sketch-text">Sketch</h5>
        <img class="sketch-img" src="images/sketch.png"/>
      </a>
    </div>

    <div id="track-img" class="col-xs-12 col-xs-offset-1 col-sm-4 col-sm-offset-1 paddingTop-md paddingBottom-xl">
      <a id="track-button" class="about-menu textPrimary-white" href="#/">
        <h5 id="track-text">Track</h5>
        <img class="sketch-img" src="images/track.png"/>
      </a>
    </div>
   <!--  this breaks the parallax for some reason -->
<!--     <div id="about-land" >
      <img src="images/about_land.png"/>
    </div> -->
  </div> <!--End about section-->

  <!--Begin sketch section-->
  <div id= "sketch-area" class="col-xs-12 padding-xl">
    <div id="sketch-area-text" class="col-xs-12 col-sm-8 padding-md">
      <h5 id="">Sketch A Monster</h5>
      <ul>
      <li>
        <h2><strong>To Draw:</strong> Click, hold, and move the cursor.</h2>
      </li>
      </br>
      <li>
        <h2><strong>To Stamp:</strong> Drag an element into the area below to build your monster.</h2>
      </li>
      </br>
        <ul>
          <li><h1>Click again and drag to clone</h1></li>
          <li><h1>Click twice and hold to move</h1></li>
          <li><h1>Double click to erase</h1></li>
        </ul>
    </div>
  </div>
<!--
  <div id= "sketch-area-stamps" class="col-xs-12 padding-xl">
    <div id="sketch-area-stamps-text" class="col-xs-12 col-sm-8 padding-md">
      <h3 id="">this is where the stamps will go</h3>
    </div>
  </div> -->

<!--   THESE ARE THE MONSTER STAMPS -->
  <div id= "sketch-area-canvas" class="col-xs-12 padding-xl">
    <div class="col-xs-4 col-sm-1">
      <img id="image-1" class="dragImg draggable-area" src='images/monster-parts/monster-parts-01.png' drag-directive/>
    </div>
    <div class="col-xs-4 col-sm-1">
      <img id="image-2" class="dragImg" src='images/monster-parts/monster-parts-02.png' drag-directive/>
    </div>
    <div class="col-xs-4 col-sm-1">
      <img id="image-3" class="dragImg" src='images/monster-parts/monster-parts-03.png' drag-directive/>
    </div>
    <div class="col-xs-4 col-sm-1">
      <img id="image-4" class="dragImg" src='images/monster-parts/monster-parts-04.png' drag-directive/>
    </div>
    <div class="col-xs-4 col-sm-1">
      <img id="image-5" class="dragImg" src='images/monster-parts/monster-parts-05.png' drag-directive/>
    </div>
     <div class="col-xs-4 col-sm-1">
      <img id="image-6" class="dragImg" src='images/monster-parts/monster-parts-06.png' drag-directive/>
    </div>
    <div class="col-xs-4 col-sm-1">
      <img id="image-7" class="dragImg" src='images/monster-parts/monster-parts-07.png' drag-directive/>
    </div>
    <div class="col-xs-4 col-sm-1">
      <img id="image-8" class="dragImg test" src='images/monster-parts/monster-parts-08.png'/>
    </div>
     <div class="col-xs-4 col-sm-1">
      <img id="image-9" class="dragImg" src='images/monster-parts/monster-parts-09.png' drag-directive/>
    </div>
    <div class="col-xs-4 col-sm-1">
      <img id="image-10" class="dragImg" src='images/monster-parts/monster-parts-10.png' drag-directive/>
    </div>
    <div class="col-xs-4 col-sm-1">
      <img id="image-11" class="dragImg" src='images/monster-parts/monster-parts-11.png' drag-directive/>
    </div>
     <div class="col-xs-4 col-sm-1">
      <img id="image-12" class="dragImg" src='images/monster-parts/monster-parts-12.png' drag-directive/>
    </div>
    <div class="col-xs-4 col-sm-1">
      <img id="image-13" class="dragImg" src='images/monster-parts/monster-parts-13.png' drag-directive/>
    </div>
     <div class="col-xs-4 col-sm-1">
      <img id="image-14" class="dragImg" src='images/monster-parts/monster-parts-14.png' drag-directive/>
    </div>
    <div class="col-xs-4 col-sm-1">
      <img id="image-15" class="dragImg" src='images/monster-parts/monster-parts-15.png' drag-directive/>
    </div>
    <div class="col-xs-4 col-sm-1">
      <img id="image-16" class="dragImg" src='images/monster-parts/monster-parts-16.png' drag-directive/>
    </div>
    <div class="col-xs-4 col-sm-1">
      <img id="image-17" class="dragImg" src='images/monster-parts/monster-parts-17.png' drag-directive/>
    </div>
    <div class="col-xs-4 col-sm-1">
      <img id="image-18" class="dragImg" src='images/monster-parts/monster-parts-18.png' drag-directive/>
    </div>
    <div class="col-xs-4 col-sm-1">
      <img id="image-19" class="dragImg" src='images/monster-parts/monster-parts-19.png' drag-directive/>
    </div>
    <div class="col-xs-4 col-sm-1">
      <img id="image-20" class="dragImg" src='images/monster-parts/monster-parts-20.png' drag-directive/>
    </div>
    <div class="col-xs-4 col-sm-1">
      <img id="image-21" class="dragImg" src='images/monster-parts/monster-parts-21.png' drag-directive/>
    </div>

    <div class="col-xs-4 col-sm-1">
      <img id="image-22" class="dragImg" src='images/monster-parts/monster-parts-22.png' drag-directive/>
    </div>
    <div class="col-xs-4 col-sm-2">
      <img id="image-23" class="dragImg" src='images/monster-parts/monster-parts-23.png' drag-directive/>
    </div>
    <div class="col-xs-4 col-sm-1">
      <img id="image-24" class="dragImg" src='images/monster-parts/monster-parts-24.png' drag-directive/>
    </div>
    <div class="col-xs-4 col-sm-1">
      <img id="image-25" class="dragImg" src='images/monster-parts/monster-parts-25.png' drag-directive/>
    </div>
    <div class="col-xs-4 col-sm-1">
      <img id="image-26" class="dragImg" src='images/monster-parts/monster-parts-26.png' drag-directive/>
    </div>
    <div class="col-xs-4 col-sm-1">
      <img id="image-27" class="dragImg" src='images/monster-parts/monster-parts-27.png' drag-directive/>
    </div>
    <div class="col-xs-4 col-sm-1">
      <img id="image-28" class="dragImg" src='images/monster-parts/monster-parts-28.png' drag-directive/>
    </div>
    <div class="col-xs-4 col-sm-1">
      <img id="image-29" class="dragImg" src='images/monster-parts/monster-parts-29.png' drag-directive/>
    </div>
    <div class="col-xs-4 col-sm-1">
      <img id="image-30" class="dragImg" src='images/monster-parts/monster-parts-30.png' drag-directive/>
    </div>
    <div class="col-xs-4 col-sm-1">
      <img id="image-31" class="dragImg" src='images/monster-parts/monster-parts-31.png' drag-directive/>
    </div>
     <div class="col-xs-4 col-sm-1">
      <img id="image-32" class="dragImg" src='images/monster-parts/monster-parts-32.png' drag-directive/>
    </div>
    <div class="col-xs-4 col-sm-1">
      <img id="image-33" class="dragImg" src='images/monster-parts/monster-parts-33.png' drag-directive/>
    </div>
    <div class="col-xs-4 col-sm-1">
      <img id="image-34" class="dragImg" src='images/monster-parts/monster-parts-34.png' drag-directive/>
    </div>
    <div class="col-xs-4 col-sm-1">
      <img id="image-30" class="dragImg" src='images/monster-parts/monster-parts-35.png' drag-directive/>
    </div>
    <div class="col-xs-4 col-sm-1">
      <img id="image-31" class="dragImg" src='images/monster-parts/monster-parts-36.png' drag-directive/>
    </div>
     <div class="col-xs-4 col-sm-1">
      <img id="image-32" class="dragImg" src='images/monster-parts/monster-parts-37.png' drag-directive/>
    </div>
    <div class="col-xs-4 col-sm-1">
      <img id="image-33" class="dragImg" src='images/monster-parts/monster-parts-38.png' drag-directive/>
    </div>
    <div class="col-xs-4 col-sm-1">
      <img id="image-34" class="dragImg" src='images/monster-parts/monster-parts-39.png' drag-directive/>
    </div>
       <div class="col-xs-4 col-sm-1">
      <img id="image-30" class="dragImg" src='images/monster-parts/monster-parts-40.png' drag-directive/>
    </div>
    <div class="col-xs-4 col-sm-1">
      <img id="image-31" class="dragImg" src='images/monster-parts/monster-parts-41.png' drag-directive/>
    </div>
     <div class="col-xs-4 col-sm-1">
      <img id="image-32" class="dragImg" src='images/monster-parts/monster-parts-42.png' drag-directive/>
    </div>
    <div class="col-xs-4 col-sm-1">
      <img id="image-33" class="dragImg" src='images/monster-parts/monster-parts-43.png' drag-directive/>
    </div>
    <div class="col-xs-4 col-sm-1">
      <img id="image-34" class="dragImg" src='images/monster-parts/monster-parts-44.png' drag-directive/>
    </div>
    <div class="col-xs-4 col-sm-1">
      <img id="image-33" class="dragImg" src='images/monster-parts/monster-parts-45.png' drag-directive/>
    </div>
    <div class="col-xs-4 col-sm-1">
      <img id="image-34" class="dragImg" src='images/monster-parts/monster-parts-46.png' drag-directive/>
    </div>

<!--     END MONSTER STAMPS -->

<!--   THIS IS THE CANVAS TODO: MAKE WORK -->
    <div id="dropHere" class="col-xs-12 droppable-area marginTop-lg" drop-directive>
      <canvas id="canvas" width="1200" height="500" testdrawing-directive></canvas>
    </div>
   <!--  <input type="checkbox" id="toggle" /><label for="toggle">Erase</label><br /> -->
  </div>

  <!--Begin monster-area section-->
  <div id="entire-monster-area" class="col-xs-12">
  <div id= "about-monster-area" class="col-xs-12 col-sm-8 padding-xl">
    <div id="about-monster-area-text" class="col-xs-12 padding-md">
      <h5 id="">About My Monster</h5>
     <!--  Begin Monster Input Area -->
    </div>

    <form class="form-horizontal col-xs-12 col-sm-11 col-md-9">
      <div class="form-group col-xs-12">
          <label class="col-xs-12 col-sm-5" for="Name"><h2>Name</h2></label>
          <input class="input-lg col-xs-12 col-sm-6" type="text" ng-model="name" placeholder="Name">
      </div>
      <div class="form-group col-xs-12">
          <label class="col-xs-12 col-sm-5" for="Name"><h2>Location</h2></label>
          <input class="input-lg col-xs-12 col-sm-6" type="text" ng-model="location" placeholder="Location">
      </div>
      <div class="form-group col-xs-12">
          <label class="col-xs-12 col-sm-5" for="Name"><h2>Description</h2></label>
          <input class="input-lg col-xs-12 col-sm-6" type="text" ng-model="description" placeholder="Description">
      </div>
   <!--      <button class="btn btn-success" ng-click="editUser('new')">
           Create New User
      </button> -->
    </form>
  </div>

    <div   id="monster-button-area" class="col-xs-9 col-sm-offset-1 col-sm-4 col-md-2 col-md-offset-0 padding-xl" >
      <a id="monster-button-background" ng-click="submitCanvas()" class=" about-menu textPrimary-white">
        <h4 id="monster-button-text">Submit Monster!</h4>
        <img id="monster-submit-button" class="monster-img" src="images/sketch.png"/>
      </a>
    </div>
      <!-- End monster input area -->
      </div>

   <!--Begin track-monster-area section-->
  <div id= "track-monster-area-title" class="col-xs-12 paddingTop-xl paddingLeft-xl paddingRight-xl">
    <div id="track-monster-area-title-text" class="col-xs-12 col-sm-8 padding-md">
      <h5 id="">Track A Monster</h5>
      <h2> Click on a marker to view the monster last seen in that area.</h2>
      <div class="bird">
        <img id="birdimg1" src="images/bird_2.png" alt="layer 1"/>
      </div>
    </div>
  </div>

  <div class="monster-map-area col-xs-12">
  <!--   <div id="track-monster-area" class="col-xs-12 col-sm-6"> -->
      <div id="google-map" class="col-xs-12">
        <ui-gmap-google-map center='map.center' zoom='map.zoom' draggable="true" options="options">

          <ui-gmap-search-box template="searchbox.template" events="searchbox.events">
          </ui-gmap-search-box>

          <ui-gmap-markers models="artLocations" coords="'self'" icon="'icon'">
          </ui-gmap-markers>

          </ui-gmap-google-map>
      </div>

      <div id="map_canvas" ng-controller="mapController">
        <script type="text/ng-template" id="searchbox.tpl.html">
          <input type="text" placeholder="Search Box"></input>
        </script>
      </div>

      <!-- </div> -->
<!--
    <div class="view-a-monster-area col-xs-12 col-sm-6">
      <div class="monster-image">

      </div>

      <div class="monster-information marginTop-xl">
        <h3> Name: </h3>
        </br>
        <h2> Location: </h2>
        </br>
        <h2> Description:  </h2>
      </div>
    </div> -->
  </div>
 <!--  </div> -->


  <div id= "footer" class="col-xs-12 padding-xl textPrimary-white">
    <div id="footer-text" class="animated pulse infinite paddingTop-xl">
      <h1>Disclaimer: this project makes no sense. </h1>
      </br>
      <h1>© Breanne Duffy 2015</h1>
    </div>
  </div>

