
 <!-- Begin nav bar here -->
<!--   <nav id="test-nav" class="navbar navbar-default">
    <div class="container-fluid"> -->
      <!-- Brand and toggle get grouped for better mobile display if you add more links!-->
   <!--    <div class="navbar-header"> -->
      <!--   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> -->
      <!--   <a class="navbar-brand" href="#"><img id="birdbrand" src="images/birdbrand.png" alt="layer 1"/></a>
      </div> -->

      <!-- Collect the nav links, forms, and other content for toggling -->
     <!--  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-right">
          <li id="nav-user-icon">
            <a href="#">
            </a>
          </li>

          <li> -->
            <!-- <a href="#"><button type="button" data-toggle="modal" data-target="#uploadArt" class="js-signupform-button"> Sketch a Monster</button></a> -->

            <!-- <a href="#"><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
            Upload Art
            </button></a> -->
          <!-- </li> -->

      <!-- </div> --><!-- /.navbar-collapse -->
    <!-- </div> --><!-- /.container-fluid -->
 <!--  </nav>  --><!--End Nav bar-->



  <!--Hero starts here-->
  <div id="hero" class="col-xs-12 paddingTop-xl">
      <!-- <a class="logo-test" href="#"><img id="birdbrand" src="images/birdbrand.png" alt="layer 1"/></a> -->

    <div id="hero-title" class="col-xs-12 padding-xl">
      <h5 class="marginTop-xl animated bounceInDown">Monster Maps</h5>
      <h1 class="animated bounceInDown">Sketch and Track a Monster</h1>
    </div>

    <div class="bird">
      <img id="birdimg1" src="images/bird_2.png" alt="layer 1"/>
    </div>
    <div class="bird">
      <img id="birdimg2" src="images/bird_2.png" alt="layer 1"/>
    </div>

    <div id="layer1">
        <img id="layer1img" src="images/layer_1_3.png" alt="layer 1"/>
    </div>
    <div id="layer2">
        <img id="layer2img" src="images/layer_2_3.png" alt="layer 1"/>
    </div>

     <div id="layer3">
        <img id="layer3img" src="images/layer_3_3.png" alt="layer 1"/>
    </div>

    <div id="layer4">
        <img id="layer4img" src="images/layer_4_3.png" alt="layer 1"/>
    </div>

    <div id="layer5">
        <img id="layer5img" src="images/layer_5_3.png" alt="layer 1"/>
    </div>

    <div id="layer6">
        <img id="layer6img" src="images/layer_6_3.png" alt="layer 1"/>
    </div>

    <div id="layer7">
        <img id="layer7img" src="images/layer_7_sun_3.png" alt="layer 7"/>
    </div>
    <div id="layer8">
        <img id="layer8img" src="images/layer_8_3.png" alt="layer 1"/>
    </div>
    <div id="layer9">
        <img id="layer9img" src="images/layer_9_3.png" alt="layer 1"/>
    </div>

    <div id="marker">
        <img id="marker" class="marker" src="images/marker_3.png" alt="marker"/>
    </div>
    <div id="marker1">
        <img id="marker1" class="marker" src="images/marker_3.png" alt="marker"/>
    </div>
    <div id="marker2">
        <img id="marker2" class="marker" src="images/marker_3.png" alt="marker"/>
    </div>
    <br class="clear-fix">
  </div> <!--Hero ends here-->


  <br class="clear-fix">



  <!--Begin about section-->
  <div id= "about" class="col-xs-12 padding-xl">
    <div id="sketch" class="col-xs-12 col-xs-offset-1 col-sm-4 col-sm-offset-2 paddingTop-md paddingBottom-xl">
      <a id="sketch-button" class=" about-menu textPrimary-white" href="#/">
        <h5 id="sketch-text">Sketch</h5>
        <img id="sketch-img" class="" src="images/sketch.png"/>
      </a>
    </div>

    <div id="track-img" class="col-xs-12 col-xs-offset-1 col-sm-4 col-sm-offset-1 paddingTop-md paddingBottom-xl">
      <a id="track-button" class="about-menu textPrimary-white" >
        <h5 id="track-text">Track</h5>
        <img id="sketch-img" class="" src="images/track.png"/>
      </a>
    </div>
   <!--  this breaks the parallax for some reason -->
<!--     <div id="about-land" >
      <img src="images/about_land.png"/>
    </div> -->
  </div> <!--End about section-->

  <!--Begin sketch section-->
  <div id= "sketch-area" class="col-xs-12 padding-xl">
    <h5 id="">Sketch A Monster</h5>
    <h2 class="col-xs-12 col-sm-8">Draw a sketch of your monster in the area below. Choose elements such as horns, eyes, and mouths to help your drawing along.</h2>
  </div>

  <div id= "sketch-area-stamps" class="col-xs-12 padding-xl">
    <h3 id="">this is where the stamps will go</h3>
  </div>

    <div id= "sketch-area-canvas" class="col-xs-12 padding-xl">
    <h3 id="">this is where the canvas will go</h3>
  </div>

  <!--Begin monster-area section-->
  <div id= "about-monster-area" class="col-xs-12 padding-xl">
    <h5 id="">About My Monster</h5>
    <h3 id="">Monster Forms</h3>
  </div>

   <!--Begin track-monster-area section-->
  <div id= "track-monster-area-title" class="col-xs-12 padding-xl">
    <h5 id="">Track A Monster (consider making a new page)</h5>
  </div>

  <div id="track-monster-area" class="col-xs-12">
    <div id="google-map" class="col-xs-12">
      <ui-gmap-google-map center='map.center' zoom='map.zoom' draggable="true" options="options">

        <ui-gmap-search-box template="searchbox.template" events="searchbox.events">
        </ui-gmap-search-box>

        <ui-gmap-markers models="artLocations" coords="'self'" icon="'icon'">
        </ui-gmap-markers>

        </ui-gmap-google-map>
    </div>

      <div id="map_canvas" ng-controller="mapController">
        <script type="text/ng-template" id="searchbox.tpl.html">
          <input type="text" placeholder="Search Box"></input>
        </script>
      </div>

 <!--    <div id="google-map-text" class="col-xs-12 col-sm-6">
    </div> -->

  </div>


  <div id= "footer" class="col-xs-12 padding-xl textPrimary-white">
    <h3 id="">footer</h3>
  </div>

